[submodule "deps/submodules/sol2"]
	path = deps/submodules/sol2
	url = https://github.com/ThePhD/sol2.git
	branch = v3.3.1
[submodule "deps/submodules/lua"]
	path = deps/submodules/lua
	url = https://github.com/lua/lua.git
	branch = v5.4.6
[submodule "deps/submodules/boost"]
	path = deps/submodules/boost
	url = https://github.com/boostorg/boost
	branch = boost-1.83.0